<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
        <li class="sidebar-toggler-wrapper hide">
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            <div class="sidebar-toggler"> </div>
            <!-- END SIDEBAR TOGGLER BUTTON -->
        </li>
        <li class="sidebar-search-wrapper">
            <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
            <form class="sidebar-search  " action="#" method="POST">
                <a href="javascript:;" class="remove">
                    <i class="icon-close"></i>
                </a>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <a href="javascript:;" class="btn submit">
                            <i class="icon-magnifier"></i>
                        </a>
                    </span>
                </div>
            </form>
            <!-- END RESPONSIVE QUICK SEARCH FORM -->
        </li>
        <li class="nav-item start active open">
            <a href="/admin" class="nav-link nav-toggle">
                <i class="icon-home"></i>
                <span class="title">首页</span>
                <span class="selected"></span>
            </a>
        </li>
        <li class="nav-item  ">
            <a href="/admin/account" class="nav-link nav-toggle">
                <i class="icon-puzzle"></i>
                <span class="title">用户管理</span>
            </a>
        </li>
        <li class="nav-item  ">
            <a href="/admin/role" class="nav-link nav-toggle">
                <i class="icon-puzzle"></i>
                <span class="title">角色管理</span>
            </a>
        </li>
        <li class="nav-item  ">
            <a href="/admin/roleMember" class="nav-link nav-toggle">
                <i class="icon-puzzle"></i>
                <span class="title">角色成员管理</span>
            </a>
        </li>
        <li class="nav-item  ">
            <a href="/admin/group" class="nav-link nav-toggle">
                <i class="icon-puzzle"></i>
                <span class="title">群组管理</span>
            </a>
        </li>
        <li class="nav-item  ">
            <a href="/admin/groupMember" class="nav-link nav-toggle">
                <i class="icon-puzzle"></i>
                <span class="title">群组成员管理</span>
            </a>
        </li>
        <li class="nav-item  ">
            <a href="/admin/menu" class="nav-link nav-toggle">
                <i class="icon-docs"></i>
                <span class="title">菜单管理</span>
            </a>
        </li>
        <li class="nav-item  ">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-docs"></i>
                <span class="title">权限管理</span>
                {#<span class="arrow"></span>#}
            </a>
        </li>
    </ul>
    <!-- END SIDEBAR MENU -->
</div>